<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sjjd.doc.line.mapper.ReportInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="sjjd.doc.line.pojo.ReportInfo">
        <id column="id" property="id"/>
        <result column="patient_id" property="patientId"/>
        <result column="assay_id" property="assayId"/>
        <result column="bar_code" property="barCode"/>
        <result column="patient_name" property="patientName"/>
        <result column="patient_sex" property="patientSex"/>
        <result column="patient_age" property="patientAge"/>
        <result column="report_time" property="reportTime"/>
        <result column="item_id" property="itemId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="report_type" property="reportType"/>
        <result column="report_state" property="reportState"/>
    </resultMap>

</mapper>
