<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-1.8.2.min.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
<style>
        .auth {
            border: 1px solid rgb(200, 200, 200);
            position: absolute;
            top: 32%;
            left: 32%;
           width: 400px;
            display: none;
            background: white;
            z-index: 50;
        }
       .layui-form-select{width:182px;}
       
       .layui-table-cell{
		height:30px !important;
		
	}
        .layui-tab-content,.layui-table-view {
           padding: 0px;
           margin: 0px;
        }
	 .laytable-cell-1-0-3 {
        width: 240px;
        height:auto;
        }
	 .layui-table-col-special {
    height:50px;
	}
         .layui-table thead tr,.layui-table-header
       {
             color: #fff;
            background-color: #5EA3E6;


        }

	.laytable-cell-1-goPhoto{  /*最后的pic为字段的field*/
       height: 100%;
       width: 100%;

   }

        .layui-table tbody{
            height: 50px;
        }
 .layui-table-cell{
		text-align:center;
		height: 50px ;

 }

        .layui-unselect {width:390px; }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div th:replace="~{header :: copy}"></div>
	<div th:replace="~{left :: leftpage}"></div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div id="doctorList" >
            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 5px;height: 70px;">
                <div id="demoTable" class="layui-field-box" style="padding-top: 17px">
                    姓名：
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                    </div>
                    工号:
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="docJobnums" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload"><i class="layui-icon layui-icon-search" style="font-size: 15px; "></i>搜索</button>
                    <button class="layui-btn " id="layerRole" style=" float:right;"><i class="layui-icon layui-icon-refresh" style="font-size: 15px; "></i>同步</button>
                </div>
            </fieldset>
            <span style="position: absolute;right: 35px;margin-top: 10px;color: #808080">上次同步时间:2019-08-09 11:00</span>
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">在职</li>
                    <li>未在职</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show"><table class="layui-hide" id="test" lay-filter="test"></table></div>
                    <div class="layui-tab-item"><table class="layui-hide" id="test1" lay-filter="test"></table></div>

                </div>
            </div>

        </div>

        <div id="doctorMsg" class="layui-form" style="margin-top: 10px ;display: none">
            <form action="" method="post" enctype="multipart/form-data" id="signupForm1">
                <div style="height: 40px">
                        <div style="float:left;width: 4px;height: 25px; background:  #5EA3E6;margin-right: 5px;margin-top: 10px"></div>  <h2 style="display: inline-block; font-weight: 600;margin-top: 10px">医生信息</h2><span style="margin-top: 10px;color: #EB5B5B;display: inline-block; margin-left: 10px;font-weight: 600;">(注:灰色区域为数据同步,不可编辑)</span>
                    <button id="resetButton" class="layui-btn layui-btn-primary" style="float: right;margin-right: 30px"><i class="layui-icon layui-icon-fonts-clear" style="font-size: 15px; "></i>重置</button>
                    <span style="float:right;margin-top: 10px;margin-right:10px;color: #808080">上次同步时间:2019-08-09 11:00</span>

                </div>

                <hr class="layui-bg-blue" >

                        <div class="layui-upload" style="margin-top:10px;margin-left: 10%;float:left">

                            <div class="layui-upload-list" style="">
                                <img class="layui-upload-img" th:src="@{/image/moren.png}"  th:onerror="showDefaultImg(this)"  width=214px height=300px id="photo" style="width:214px;height:300px;background:rgba(159,159,159,1);">
                                <p id="demoText"></p>
                            </div>
                        </div>

                    <div id="inputLine" style="width: 1210px; margin-top:20px;float: right;margin-right: 30px">
                        <div class="layui-input-inline" style="width: 500px;margin-right: 200px">
                            <label class="layui-form-label">姓名:</label>
                            <div class="layui-input-block" >
                                <input name="docName" placeholder="请输入姓名" class="layui-input" type="text" required readonly
                                       id="docName" style="margin-bottom : 10px ;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px">
                            <label class="layui-form-label">性别:</label>
                            <div class="layui-input-block" >
                                <input name="docSex" placeholder="请输入性别" class="layui-input" type="text" required readonly
                                       id="docSex" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px;margin-right: 200px">
                            <label class="layui-form-label">职务:</label>
                            <div class="layui-input-block" >
                                <input name="docDuty" placeholder="请输入职务" class="layui-input" type="text" required readonly
                                       id="docDuty" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px">
                            <label class="layui-form-label">职位:</label>
                            <div class="layui-input-block" >
                                <input name="docLevel" placeholder="请输入职位" class="layui-input" type="text" required readonly
                                       id="docLevel" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>
                        <div class="layui-input-inline" style="width: 500px;margin-right: 200px">
                            <label class="layui-form-label">电话:</label>
                            <div class="layui-input-block" >
                                <input name="docPhone" placeholder="请输入电话" class="layui-input" type="text" required
                                       id="docPhone" style="margin-bottom : 10px">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px">
                            <label class="layui-form-label">登录账号:</label>
                            <div class="layui-input-block" >
                                <input name="docAmout" placeholder="请输入登录账号" class="layui-input" type="text" required
                                       id="docAmout" style="margin-bottom : 10px">
                            </div>
                        </div>
                        <div class="layui-input-inline" style="width: 500px;margin-right: 200px">
                            <label class="layui-form-label">密码:</label>
                            <div class="layui-input-block" >
                                <input name="docPas" placeholder="请输入密码" class="layui-input" type="text" required
                                       id="docPas" style="margin-bottom : 10px">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px">
                            <label class="layui-form-label">费用:</label>
                            <div class="layui-input-block" >
                                <input name="docCost" placeholder="请输入费用" class="layui-input" type="text" required readonly
                                       id="docCost" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>
                        <div class="layui-input-inline" style="width: 500px;margin-right: 200px">
                            <label class="layui-form-label">科室:</label>
                            <div class="layui-input-block" >
                                <input name="docDepart" placeholder="请输入科室" class="layui-input" type="text" required readonly
                                       id="docDepart" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 500px">
                            <label class="layui-form-label">工号:</label>
                            <div class="layui-input-block" >
                                <input name="docJobnum" placeholder="请输入工号" class="layui-input" type="text" required readonly
                                       id="docJobnum" style="margin-bottom : 10px;background-color: #E6E6E6;border-color: #B3B3B3">
                            </div>
                        </div>


                        <div class="layui-input-inline" >
                            <label class="layui-form-label">角色</label>
                            <div class="layui-input-block" style="margin-bottom : 10px">
                                <select name="rId" id="rId" lay-filter="role" class="layui-select"  >
                                    <option value="">--请选择--</option>

                                </select>
                            </div>
                        </div>


                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">简介:</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入简介内容" class="layui-textarea" id="docIntro" name="docIntro" ></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">擅长:</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入简介内容" class="layui-textarea" id="docSpeci" name="docSpeci" readonly style=";background-color: #E6E6E6;border-color: #B3B3B3"></textarea>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <input type="submit" class="layui-btn"  lay-submit="" lay-filter="modiAdmin" value="保存">
                            <button class="layui-btn layui-btn-normal" id="rolback" style="background-color: #CCCCCC;color: #0D0D0D">返回</button>
                        </div>

                    </div>







            </form>


        </div>


   		
   	
    
    <!--修改-->
    <div id="edit" class="col-md-7 auth layui-form">
        <form action="" method="post" enctype="multipart/form-data" id="signupForm">
            <div class="layui-card">
                <div class="layui-card-header">修改医生信息</div>
                <div class="layui-card-body">
                    <div class="layui-input-inline">
                        <label class="layui-form-label">登录名</label>
                        <div class="layui-input-block">
                            <input name="docLoname" placeholder="窗口登录名" onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" class="layui-input" type="text" required
                                   id="docLoname" style="margin-bottom : 10px">
                        </div>
                    </div>
                  
                    <div class="layui-input-inline">
                        <label class="layui-form-label">登录密码</label>
                        <div class="layui-input-block">
                            <input name="docPassword" id="docPassword" placeholder="窗口登录密码" class="layui-input" type="text" required style="margin-bottom : 10px">
                        </div>
                    </div>
                    
                    <div class="layui-inline">
                        <label class="layui-form-label">医生职位</label>
                        <div class="layui-input-block">
                            <input name="docPosition" placeholder="医生职位" class="layui-input" type="text" id="docPosition" 
                                   required style="margin-bottom : 10px">
                        </div>
                    </div>
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label"> 医生简介</label>-->
<!--                        <div class="layui-input-block">-->
<!--                        <textarea name="docIntro" required id="docIntro" lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>-->
<!--                            &lt;!&ndash; <input name="docIntro" placeholder="医生简介"  class="layui-input" type="text" id="docIntro" -->
<!--                                   required style="margin-bottom : 10px"> &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
                    
<!--                    <div class="layui-form-item" style="position: relative; left:10%;margin-top:10px">-->
<!--						<div class="layui-upload">-->
<!--  							<button type="button" class="layui-btn" id="docHead" >医生头像</button>-->
<!--  						<div class="layui-upload-list" style="position: relative; left:30%;">-->
<!--    						<img class="layui-upload-img" id="photo" width="92" height="92">-->
<!--    						<p id="demoText"></p>-->
<!--  						</div>-->
<!--					</div> -->
<!--					</div>-->
                    
                    <input type="hidden" id="uid" name="uid">
                </div>
            </div>
            <div style="text-align: center">
                <input type="submit" class="layui-btn"  lay-submit="" lay-filter="modiAdmin" value="修改">
                <button type="button" class="layui-btn layui-btn-danger" onclick="closea()"> 取消</button>
            </div>
            <br>
        </form>
    </div>
    
    
    </div>
  </div>
  
   
 </div>
<input type="hidden" th:value="${pagelogo}" id="iden">
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="modifly">编辑</a>
  
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="caStickModel">
	<div>
		<input type="checkbox" value={{d.status}} lay-skin="switch" lay-filter="switchTest" lay-text="启用|禁用"  {{ d.status == '1' ? 'checked' : '' }} >
	</div>
</script>

<script type="text/html" id="goimage">
<div>
	{{# if(d.docHead == null || d.docHead==""){ }}
	<span>无</span>
	 {{# }else { }}
	<img src="{{d.docHead}}" style="height:50px; width:100%;">
	{{# } }}
</div>
</script>

<script>
    document.getElementById("resetButton").onclick = function(){
        var docName = document.getElementById("docName");
        docName.defaultValue = docName.value;
        var docSex = document.getElementById("docSex");
        docSex.defaultValue = docSex.value;
        var docDuty = document.getElementById("docDuty");
        docDuty.defaultValue = docDuty.value;
        var docLevel = document.getElementById("docLevel");
        docLevel.defaultValue = docLevel.value;
        var docCost = document.getElementById("docCost");
        docCost.defaultValue = docCost.value;
        var docDepart = document.getElementById("docDepart");
        docDepart.defaultValue = docDepart.value;
        var docJobnum = document.getElementById("docJobnum");
        docJobnum.defaultValue = docJobnum.value;
        var docSpeci = document.getElementById("docSpeci");
        docSpeci.defaultValue = docSpeci.value;
        document.forms[0].reset()
    }

    function showDefaultImg(img){
        console.log("进入方法");
        img.src = "[[@{/image/moren.png}]]";
        //不循环执行
        img.onerror = null;
    }
</script>

<script>

var iden=$("#iden").val();
console.log(iden);
showthis(iden);

layui.use(['laytpl','laypage','table','element','layer','jquery','form','upload'], function(){
	var table = layui.table,
	  element = layui.element,
	  $ = layui.jquery,
	  form=layui.form,
	  layer=layui.layer,
	  upload=layui.upload,
	laytpl = layui.laytpl;
	var loadindex=null;
  table.render({
	 id:'testReload' 
    ,elem: '#test1'
    ,url:'[[@{/doctor/docList}]]'
    ,title: '用户数据表'
    ,skin:'nob'
      ,where: {state:'0',type:'1'}
      ,cols: [
    	[
      {field:'id', title:'id',hide:'true'}

      ,{field:'docName', title:'姓名'}
      ,{field:'docSex', title:'性别'}
      ,{field:'docDuty', title:'职务'}
            ,{field:'docPhone', title:'电话'}
      ,{field:'docIntro', title:'简介',style:'height:80px;',hide:'true'}
      ,{field:'docLevel', title:'职位'}
      ,{field:'docDepart', title:'科室'}
      ,{field:'docJobnum', title:'工号'}
      ,{field:'docSpeci', title:'擅长'}
      ,{field:'docCost', title:'费用'}
      ,{field:'rId', title:'rId',hide:'true'}
      ,{field:'docHead', title:'头像',hide:'true'}
      ,{field:'docAmout', title:'登录账号',hide:'hide'}
      ,{field:'docPas', title:'登录密码',hide:'true'}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]
    	]
   ,page: true
  
  });

    table.render({
        id:'testReload'
        ,elem: '#test'
        ,url:'[[@{/doctor/docList}]]'
        ,title: '用户数据表'
        ,skin:'nob'
        ,where: {state:'1',type:'1'}
        ,cols: [
            [
                {field:'id', title:'id',hide:'true'}

                ,{field:'docName', title:'姓名'}
                ,{field:'docSex', title:'性别'}
                ,{field:'docDuty', title:'职务'}
                ,{field:'docPhone', title:'电话'}
                ,{field:'docIntro', title:'简介',style:'height:80px;',hide:'true'}
                ,{field:'docLevel', title:'职位'}
                ,{field:'docDepart', title:'科室'}
                ,{field:'docJobnum', title:'工号'}
                ,{field:'docSpeci', title:'擅长'}
                ,{field:'docCost', title:'费用'}
                ,{field:'rId', title:'rId',hide:'true'}
                ,{field:'docHead', title:'头像',hide:'true'}
                ,{field:'docAmout', title:'登录账号',hide:'hide'}
                ,{field:'docPas', title:'登录密码',hide:'true'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]
        ]
        ,page: true

    });


  
//多图片上传
  var uploadInst = upload.render({
     elem: '#photo'     /*根据绑定id，打开本地图片*/
    ,url: '${ctx}/origin/user/saveOrUpdate'  /*上传后台接受接口*/
    ,auto: false        /*true为选中图片直接提交，false为不提交根据bindAction属性上的id提交*/
    ,bindAction: '#formSubmit'   /*提交图片*/
    ,choose:function(obj){
        //预读本地文件示例，不支持ie8
        obj.preview(function(index, file, result){
          $('#photo').attr('src', result); //图片链接（base64）
        });
      }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });

    $(document).on('click','#rolback',function(){
        location.replace('[[@{/doctor/showdoctor}]]');
    });
  //监听分页
  $.get('[[@{/admin/getRoleselect}]]',{}, function (data) {
      var $html = "";
      if(data.data != null){
          $.each(data.data, function (index, item) {
          	
              if (item.proType){
                  $html += "<option class='generate' value='" + item.id + "'>" + item.roleName + "</option>";
              }else{
                  $html += "<option value='" + item.id + "'>" + item.roleName + "</option>";
              }
          });
       
       $("select[name='rId']").append($html);
       
       //反选
       //$("select[name='interest']").val($("#???").val());
       //append后必须从新渲染
       form.render('select');
   }
});
  
  
  var active = {
		    reload: function(){
		      var demoReload = $('#demoReload');
		      
		      //执行重载
		      table.reload('testReload', {
		        page: {
		          curr: 1 //重新从第 1 页开始
		        }
		        ,where: {
		            docName: demoReload.val(),
                    docJobnum:$('#docJobnums').val()
		        }
            });
		    }
		  };  
		  
		  $('#demoTable .layui-btn').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
  
 
  
 
  
  
  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
   	var aid=data['id'];
  
    if(obj.event == 'delete'){
      layer.confirm('真的删除行么',{btn: ['确定', '取消'],title:"提示"},function(index){
    
        $.ajax({  
            type: 'post',  
            url: '[[@{/admin/delAdmin}]]', // ajax请求路径  
            data: {  
            	id:aid
            },  
            dataType:'json',
            async:false,
            success: function(data){ 
              if(data.state==1){
            	  layer.msg('删除成功',{
                      time:1000,
                      end:function () {
                      	location.reload();
                      }
                  })
              }else {
                return layer.msg(data.message);
              }
            }  
        }); 
        layer.close(index);
      });
    } 
    if(obj.event == 'modifly'){
        $("#doctorMsg").css("display","block");
    	//$("#photo").removeAttr("src");
    	  $('#doctorList').css('display', 'none');
    	  $('#docName').val(data['docName']);
    	  $('#docIntro').val(data['docIntro']);
    	  $('#docPas').val(data['docPas']);
    	  $('#docLevel').val(data['docLevel']);
        $('#docAmout').val(data['docAmout']);
        $('#docCost').val(data['docCost']);
        $('#docJobnum').val(data['docJobnum']);
        $('#docDuty').val(data['docDuty']);
        $('#docSex').val(data['docSex']);
        $('#docSpeci').val(data['docSpeci']);
        $('#docDepart').val(data['docDepart']);
        $('#docPhone').val(data['docPhone']);
    	  $("#uid").val(data['id']);
        $("select[name='rId']").val(data['rId']);
    	  if(data['docHead']!=null && data['docHead']!=''){
              $("#photo").attr("src",data['docHead']);
          }

    	  form.render();
    }
   
    
  });
  
//监听提交
form.on('submit(modiAdmin)', function(data){
	var formData = new FormData($( "#signupForm" )[0]);
	 $.ajax({  
		    type: 'post',  
		    url: '[[@{/doctor/modiDoctor}]]', // ajax请求路径  
		    data: formData,  
		    cache : true,
		    async:false,
		    contentType: false,   //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
	        processData: false,
		    success: function(data){ 
		      if(data.state==1){
		      	layer.msg(data.message,{
		              time:2000,
		              end:function () {
		              	location.reload();
		              }
		          })
		          return false;
		      }else {
		      	layer.msg(data.message);
		          return false;
		      }
		    }  
		});

		return false;
 });
 
 
  form.on('submit(addAdmin)', function(data){
	  $.ajax({  
		    type: 'post',  
		    url: '[[@{/admin/addAdmin}]]', // ajax请求路径  
		    data: {  
		    	docName: data.field.adocName,
		    	adPassword: data.field.adPassword,
		    	rId: data.field.rId
		    	
		    },  
		    dataType:'json',
		    async:false,
		    success: function(data){ 
		      if(data.state==1){
		      	layer.msg(data.message,{
		              time:2000,
		              end:function () {
		              	location.reload();
		              }
		          })
		          return false;
		      }else {
		      	layer.msg(data.message);
		          return false;
		      }
		    }  
		});

		return false;
  });
  
$(document).on('click','#layerRole',function(){
	  loadindex = layer.load(1);
	$.ajax({  
	    type: 'post',  
	    url: '[[@{/doctor/doctorSyn}]]', // ajax请求路径  
	    data:{},  
	    dataType:'json',
	    
	    success: function(data){ 
	      layer.close(loadindex);
	      if(data.state==1){
	      	layer.msg(data.message,{
	              time:2000,
	              end:function () {
	            	
	              	location.reload();
	              }
	          })
	          return false;
	      }else {
	    	layer.close(loadindex);
	      	layer.msg(data.message);
	          return false;
	      }
	    }  
	});
});



});
//关闭提示
function closea() {
    $('#autn').css('display', 'none');
    $('#device').css('display', 'none');
    $('#edit').css('display', 'none');
}
</script>

</body>

</html>